* {
    box-sizing: border-box
}

.form {
    width: 25%;
    background: white;
    z-index: 1004;
}

.form_wrap {
    display: none;

}

.block {

    height: 100%;
    text-align: center;
    padding: 30px 0;
    position: relative;
}


.X {
    background: #777777;
    height: 39px;
    position: absolute;
    border: none;
    outline: none;
    right: -39px;
    top: -39px;
}

.form-bottom {
    padding: 15px;
    color: white;
    border: none;
    outline: none;
    background: #777777;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.active_form {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: rgba(119, 119, 119, 0.35);
    z-index: 1005;
}

.input-stile {
    height: 40px;
    width: 75%;
}

.input-stile:hover {
    box-shadow: 0 0 10px 3px #7777;
    transition: all 0.5s;
}

.textarea-meseg {
    width: 75%;
    height: 140px;
    margin-bottom: 20px;
    text-align: start;
}

.textarea-meseg:hover {
    box-shadow: 0 0 10px 3px #7777;
    transition: all 0.5s;
}

@media screen and (max-width: 680px) {
    .form {
        width: 70%;
    }
    .form_wrap {
        height: 50%;
    }
    .textarea-meseg {
        height: 80px;
    }
}