body {
    margin: auto;
    max-width: 980px;
    font-family: 'PT Sans', sans-serif;
}

.text-color-gray {
    color: #777777;
    text-decoration: none;

}

.wrap {
display: flex;
    flex-direction: column;

}

.line {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.line:hover {
    background-size: 100% 2px;

}

.header {
    height: 230px;
    width: 100%;
    background: #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo-name {
    height: 100px;
    display: flex;
    margin: 10px;

}

.logo {
    width: 100px;
    height: 100px;
}

.company-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.company-name-big, .company-name-small {
    margin: 0;
}


.phone-box {
    height: 100px;
    width: 273px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}

.phone {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-size: 40px;
}

.phone-box-text {
    margin: 0;
    font-family: sans-serif;
    border-bottom: 2px #777777 dashed;
}

.menu {
    height: 80px;
    background: rgba(119, 119, 119, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}


.menu-wrap {
    padding: 0 10px;
    border-right: #f8f8f8 solid 2px;
}

.menu-wrap-sp {
    padding: 0 10px;

}

.menu-item {
    text-decoration: none;
    color: #f8f8f8;
    cursor: pointer;

}

.mob-menu {
    display: none;
}

/*----------small-menu-div*/
.small-menu {
    display: flex;
    margin-left: 13%;
}

.small-menu-div {
    text-decoration: none;
    margin-right: 1%;
}
/*---------CONTENT*/
.content-wrap{
    max-width: 800px;
    border: 2px solid red;
    display: flex;
    margin: auto;
}
.lng{
    position: relative;
}
.lng:hover .lng-list-wrap{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}
.lng-link{
    color: aqua;
    text-decoration: none;
    position: relative;
}

.lng-list-wrap{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 15px);
    opacity: 0;
    visibility:  hidden;
    transition: all .2s ease;

}
.lng-list{
    box-shadow: seagreen;

}
.lng-list a{
    padding: 5px 10px;
    color: rgba(171, 4, 4, 0.59);
    text-decoration: none;
}
/*MEDIA*/
@media screen and (max-width: 680px) {
    .logo {
        display: none;
    }

    .company-name {
        align-items: center;
    }

    .header {
        flex-direction: column;

    }

    .phone {
        font-size: 15px
    }

    .phone-box {
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-wrap, .menu-wrap-sp {
        display: none;
    }

    .mob-menu {
        display: block;
        background: rgba(119, 119, 119, 0.59);
        z-index: 2;
    }
    .small-menu{
        display: none;
    }
}
