body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;

}

.text-color-gray {
    color: #777777;
    text-decoration: none;
}

.under-line {
    text-decoration-line: underline;
    color: #777777;
}

.li-spesial-color {
    color: black;
    text-decoration-line: underline;

}

.wrap {
    display: flex;
    flex-direction: column;
}

.line {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.line:hover {
    background-size: 100% 2px;

}

.header-wrap {
    background: #dcdcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    height: 230px;
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo-name {
    height: 100px;
    display: flex;
    margin: 10px;

}

.logo {
    width: 100px;
    height: 100px;
}

.company-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.company-name-big, .company-name-small {
    margin: 0;
}


.phone-box {
    height: 100px;
    width: 273px;
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: end;
    margin: 10px;
}

.phone {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-size: 40px;
}

.phone-box-text {
    margin: 0;
    font-family: sans-serif;
    border-bottom: 2px #777777 dashed;
}

.menu {
    height: 80px;
    background: rgba(119, 119, 119, 0.59);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}


.menu-wrap {
    padding: 0 10px;
    border-right: #f8f8f8 solid 2px;
}

.menu-wrap-sp {
    padding: 0 10px;

}

.menu-item {
    text-decoration: none;
    color: #f8f8f8;
    cursor: pointer;

}

.mob-menu {
    display: none;
}

/*----------small-menu-div*/
.small-menu {
    width: 980px;
    display: flex;
    justify-content: start;
    margin: auto;

}


.small-menu-p {
    margin: 0 5px;
}

.small-menu-div {
    margin-left: 30px;;
}

/*---------CONTENT*/

.content-wrap {
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

/*---------CONTENT-LEFT*/
.content-left {
    margin-left: 30px;
    margin-right: 30px;
}

.content-left-manu {
    width: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.lng {
    position: relative;
    margin-top: 5px;
}

.lng:hover .lng-list-wrap {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    position: relative;
}

.lng-link {
    text-decoration: none;
    position: relative;
}

.lng-list-wrap {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-50%, 15px);
    opacity: 0;
    visibility: hidden;
}

.lng-list a:hover {
    font-weight: bolder;
}

.content-left-logo {
    text-align: center;
    margin-top: 100%;
}

.content-left-logo p {
    text-decoration: none;
    width: 150px;
    color: black;
    font-size: 30px;
    margin-top: 0;

}


/*----------------CONTENT-RIGHT*/


.cart {
    height: 380px;
    background: #dcdcdc;
    margin: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.content-right-goods {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.content-right {
    padding-bottom: 50px;
}

.cart-photo img {
    margin: 15px;
    width: 170px;
}

.cart-text {
    margin-left: 15px;
}

.cart-prise-bask {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.cart-prise {
    font-size: 25px;

}

/*-------------- CONTENT-RIGHT-PAGE*/
.content-right-page {
    text-align: center;
    padding: 5% 0;

    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 2px solid #777777;
}

.content-right-page a {
    margin: 10px;

}

.content-right-page a:hover {
    color: black;
    font-size: 20px;
    transition: all 0.3s;
}

.content-text-bottom {
    display: flex;
    justify-content: space-between;
}

.content-text-left {
    width: 45%;
}

.content-text-right {
    width: 45%;
}

/*MEDIA*/
@media screen and (max-width: 680px) {
    .logo {
        display: none;
    }

    .company-name {
        align-items: center;
    }

    .header {
        flex-direction: column;

    }

    .phone {
        font-size: 15px
    }

    .phone-box {
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-wrap, .menu-wrap-sp {
        display: none;
    }

    .mob-menu {
        display: block;
        background: rgba(119, 119, 119, 0.59);
        z-index: 2;
    }

    .small-menu {
        display: none;
    }

    .content-wrap {
        margin-left: auto;
        flex-direction: column


    }

    .content-left-logo {
        display: none;
    }

    .content-left {
        text-align: center;
    }

    .content-right-goods {
        flex-direction: column;
        align-items: center;
    }

    .content-text-right {
        display: none;
    }

    .content-text-left {
        margin-left: 30px;

    }
}
