.slick-track {
    display: flex;
    align-items: flex-start;

}


.slick {
    overflow: hidden;
}

.slider img {
    width: 100%;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 980px;
}
.slider-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slider .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 1000;
    font-size: 0;
    height: 18%;
    width: 4%;

}

.slider .slick-arrow.slick-prev {

    left: 0;
    margin-left: 13%;
    background: url('../img/arrow_left.png') 0 0 / 100% no-repeat;
}


.slider .slick-arrow.slick-next {
    right: 0;
    margin-right: 13%;
    background: url('../img/arrow_right.png') 0 0 / 100% no-repeat;
}

